@import "tailwindcss";

/* @import "tailwindcss/preflight";
@tailwind utilities; */

:root {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;
  --shadow-black: 3px 3px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

.bg-custom-light-hover {
  background-color: var(--color-light-hover);
}
.bg-custom-dark-hover {
  background-color: var(--color-dark-hover);
}
.bg-custom-dark-theme {
  background-color: var(--color-dark-theme);
}

.shadow-custom-black {
  box-shadow: var(--shadow-black);
}
.shadow-custom-white {
  box-shadow: var(--shadow-white);
}
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* .bg-custom-light-hover {
  background-color: var(--color-light-hover);
} */

*{
  font-family: 'Outfit', sans-serif;
}